<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280378540912-10m22n9dj7ujfjeagoed4mkadua4e5nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280378540912-10m22n9dj7ujfjeagoed4mkadua4e5nn</string>
	<key>API_KEY</key>
	<string>AIzaSyAbp70v2U3QP2nVqRu8ZeMQjR3EGYj-R-k</string>
	<key>GCM_SENDER_ID</key>
	<string>280378540912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expolivetrack</string>
	<key>PROJECT_ID</key>
	<string>simconnect-e111e</string>
	<key>STORAGE_BUCKET</key>
	<string>simconnect-e111e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280378540912:ios:94724162e49319aaf0c5b5</string>
	<key>DATABASE_URL</key>
	<string>https://simconnect-e111e-default-rtdb.firebaseio.com</string>
</dict>
</plist>